@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

body{
	font-family: 'Manrope', sans-serif;
	color: #000;
	overflow-x: hidden;
	width: 100%;
}

/*backgrounds*/
.home-masthead{
	background:url(../imgs/home-bg.png);
	background-position: bottom;
	background-size: cover;
	height: 95vh;
}
.bg-abstract{
	background: url(../imgs/green-abstract-bg.png);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}
.bg-transparent{
	background: transparent;
	margin-top: -300px;
}
.bg-contact-us{
	background: url(../imgs/contact-us-bg.png);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}
.bg-footer{
	background: #111111;
	background-size: cover;
	background-repeat: no-repeat;
	width: auto;
	height: 100%;
}

/*navbar menu*/
.bg-nav{
	background: #111111;
}
.nav-link{
	color: white;
}
.nav-link:hover{
	color: #8EC641;
}
.nav-link.active{
	color: #8EC641 !important;
}

/*custom texts*/
.heading-title{
	font-size: 75px;
	font-weight: 800;
	letter-spacing: -5px;
}
.heading-subtitle{
	font-size: 60px;
	font-weight: 800;
	letter-spacing: -3px;
}
.content-title{
	font-size: 26px;
	font-weight:800;
}
.body-content{
	font-size: 18px;
	font-weight: 300;
}

/*text colors*/
.text-green{
	color: #0C9548;
}
.text-lightgreen{
	color: #8EC641;
	font-weight: 800;
}

/*approach style*/
.approach-hover:hover{
	border: 2px solid #0C9548;
}

/*services*/
.service-container {
  position: relative;
  width: 100%;
}
.service-img {
  display: block;
  width: 100%;
  height: auto;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(21,139,67,0.89);
}
.service-container:hover .overlay {
  opacity: 1;
}
.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.services-margin-top{
	margin-top: -150px;
}

/* form */
.custom-form{
	background: #fff;
}

/*buttons*/
.site-btn{
	background: #158B43;
	color: #fff;
	border: none;
	font-weight: 500;
	padding: 20px 0;
	width: 250px;
}
.site-btn:hover{
	background: #8EC641;
	color: #fff;
	border: none;
}

.service-btn{
	font-size: 18px;
	font-weight:800;
	color: #fff;
	text-decoration: none;
}
.service-btn:hover{
	color: #fff;
	text-decoration: underline;
}

/*display*/
.display-desktop{
	display: block;
}
.display-mobile{
	display: none;
}

/*media queries*/
@media (max-width: 768px){
	.heading-title {
	    font-size: 60px;
	}
	.site-btn {
	    width: 100%;
	}
	.custom-col-2, .custom-col-3 {
	    margin-top: 0px;
	}
	.bg-2 {
	    height: 44vh;
	    margin-top: -180px;
	}
	.bg-1 {
	    padding-bottom: 0; 
	}
	.bg-transparent {
	    margin-top: -69px;
	}
	.heading-subtitle {
	    font-size: 40px;
	}
	.bg-3 {
	    height: 25vh;
	    margin-top: -80px;
	}
	.navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
	     display: contents; 
	}
	.header-content-layout {
	    margin-top: 366px;
	}
	.carousel-item {
	    text-align: center;
	}
	.display-desktop{
		display: none;
	}
	.display-mobile{
		display: block;
	}
	.masthead-mobile{
		height: 100vh;
	}
	.homepage-chameleon-display{
		position: absolute;
		bottom: 0;
	}
	.services-margin-top {
	    margin-top: -77px;
	}
	.row.mt-5 {
	    margin-top: 22px !important;
	}
	.testimonial-mobile{
		text-align: center;
	}
}